<% include ./partials/header %>
<div class = "container">
     <header class = "jumbotron">
        <div class = "container">     
            <h1>Welcome to Questionbook</h1>
            <p>Here You can ask people about anything</p>
        </div>
    </header>
</div>

<div class = "container" style = "margin-top: 35px;">
    <div class ="row text-center" style= "display: flex; flex-wrap: wrap">
            <% questions.forEach(function(question){ %>
                <div class = "container">
                     <div class = "jumbotron">
                        <div class = "text-left">
                            <h4><%= question.author.username %></h4>
                            <p style = "font-size: 15px"><strong> asked:  </strong><%= question.question%></p>
                            <br />
                            <% question.key.forEach(function(key){ %>
                                <p class = "text-center" style = "font-size: 20px;"><%= key.count %> people voted for <%= key.text %></p>
                            <% }) %>
                            <span class = "text-right"><a href = "/showdetails<%= question._id %>" class = "btn btn-primary">Show Details/ Add Your Vote</a></span>
                            <br />
                            <br />
                    <% if(currentUser && question.author.authorid.equals(currentUser._id)){ %>
                            <form action = "/removequestion<%= question._id %>?_method=delete" method="post">
                                <input type="submit" value = "Delete this Question" class = "btn btn-danger"/>
                            </form>
                    <% } %>
<!--                             <span class = "text-right"><a href = "" ></a></span> -->                             
                            <p></p>
                        </div>
                    </div>
                </div>

            <% })%>
    </div>    
</div>        

<% include ./partials/footer %>

